@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    color: black;
}

body.dark {
    background-color: hsl(230, 17%, 14%);
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    color: whitesmoke;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    z-index: 1;
    top: 0;
}

.bg-box {
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #a4a4a715;
    border-radius: 0px 0px 50px 50px;
    box-sizing: border-box;
}

.bg-box-dark {
    background-color: hsl(232, 19%, 15%);
}

.dashboard-header {
    margin: 20px 35px;
}

.dashboard-header p.hr {
    padding-bottom: 1.5rem;
    border-bottom: 2px #63687e solid;
}

.checkbox {
    opacity: 0;
    position: absolute;
    top: 140px;
    z-index: 1;
    width: 50px;
}

.checkbox:checked + label .ball {
    transform: translateX(-22px);
}

.label {
    background-color:  hsl(230, 22%, 74%);
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px 2px 5px 6px;
    height: 17px;
    width: 42px;
}

.darklabel {
        background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));    
}

.ball {
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    position: absolute;
    left: 25px;
    height: 21px;
    width: 21px;
    transition: transform 200ms linear;
}


.balldark {
    background-color: hsl(230, 17%, 14%);
}

p.hr {
    color: hsl(228, 12%, 44%);
}

h1, h2 {
    font-size: 1.5rem;
}

p {
    font-weight: 700;
}

.pdark {
    color: hotpink;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.social-main {
    display: grid;
    gap: 2rem;
    margin: 0 25px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    
}


.card1 {
    width: 100%;
    height: 250px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.card1:hover {
    background-color: hsl(224, 22%, 90%);
    transition-duration: 350ms;
}

.card1dark {
    background-color: hsl(228, 28%, 20%);
    color: whitesmoke;
}

.card1dark:hover {
    background-color: hsl(230, 27%, 26%);
}

#card1-2 {
    border-top: 5px hsl(203, 89%, 53%) solid;
}

/* Doesn't work with border-radius which need, so try 'wrapping' technique via css-tricks */
#card3-wrapper {
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    box-sizing: border-box;
}

#card3-inner {
    border-radius: 0;
    position: absolute;
    top: 5px;
    left: 0;
}

#card4 {
    border-top: 5px hsl(348, 97%, 39%) solid;
    
}

.card1 p {
    text-align: center;
    margin: 0 30px;
}

.social-handle {
    display: flex;
    justify-content: center;
    margin: 35px 0px 20px 20px;
    color: hsl(228, 12%, 44%);
}

.social-handle p {
    font-size: 0.85rem;
    margin-top: 2px;
}



#social-icon {
    margin-right: -20px;
}

.follow-count {
    font-weight: 700;
    font-size: 4rem;
}

.followers-text {
    margin-bottom: 25px;
    color: hsl(228, 12%, 44%);
}

.followers-text p {
    font-weight: 400;
}

.inc-dec {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

#inc {
    color:  hsl(163, 72%, 41%);
}

#dec {
    color: hsl(356, 69%, 56%);
}

#inc-dec {
    margin-top: 10px;
    margin-right: -25px;
}


.dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: hsl(228, 12%, 44%);
}

.overview-header {
    margin: 45px 15px 0px 15px;
}

.social-overview {
    display: grid;
    gap: 1rem;
    margin: 20px 15px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card2 {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color: hsl(227, 47%, 96%);
    border-radius: 5px;
    box-sizing: border-box;
}

.card2:hover {
    background-color: hsl(224, 22%, 90%);
    transition-duration: 350ms;
}

.card2dark {
    background-color: hsl(228, 28%, 20%);
    color: whitesmoke;
}

.card2dark:hover {
    background-color: hsl(230, 27%, 26%);
}

.upper-card {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(228, 12%, 44%);
}

.upper-card p {
    padding: 15px 0px 0px 20px;
}

.upper-card svg {
    margin-top: 15px;
    padding-right: 45px;
}


.lower-card {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-card .inc-dec {
    width: 70px;
    height: 25px;
    padding-top: 10px; 
    margin-right: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.lower-card #inc-dec {
    margin-right: 5px;
    padding-bottom: 10px;
}

#overview-count {
    font-size: 2rem;
    padding-left: 20px;
}

@media screen and (min-width: 600px) {

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    top: 0;
}

.card2 {
    align-items: center;
}

.dark-mode {
    width: 30%;
    margin-left: auto;
}

.dashboard-header {
    display: flex;
}


}



@media screen and (min-width: 768px) {

    .social-main {
        display: grid;
        gap: 2rem;
        margin: 0 25px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        
    }

    .social-overview {
        display: grid;
        gap: 1rem;
        margin: 20px 15px;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}



/* @media screen and (min-width: 992px) {
    
} */



@media screen and (min-width: 1200px) {

    .social-main {
        display: grid;
        gap: 2rem;
        margin: 0 25px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        
    }

    .social-overview {
        display: grid;
        gap: 1rem;
        margin: 20px 25px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    .dark-mode {
        width: 20%;
        margin-left: auto;
    }
    
}

@media screen and (min-width: 1440px) {

    .social-overview {
        display: grid;
        gap: 1rem;
        margin: 20px 25px;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }

    .dark-mode {
        width: 13%;
        margin-left: auto;
    }

}
